@import url('./pc.css') all and (min-width: 900px);
@import url('./phone.css') all and (max-width: 899px);
    
body {
    $colorHas : skyblue;
    $colorNone : white;
    $colorFix : gray;

    $halfWidth : 50vw;
    $pullSome : 2vw;
    $SettingPathWitdhWhenContext : 15vw;
    $SettingPathWitdhWhenSetting : 85vw;

    background-color: $colorFix;

    .system_info_class {
        transition: all .5s ease;
        z-index: 1;
        position: absolute;
        top: -10vh;
        width: 20vw;
        left: 40vw;

        background-color: $colorFix;

        display: flex;
        display: -webkit-flex;
        justify-content: center;
        flex-flow: column wrap; /* 上面两个属性的简写 */
        justify-content: center; /* 项目在主轴上的对齐方向 */
        align-items: left; /* 项目在副轴上的对齐方式 */
        
        &.homePage {
            &.enter{
                top: 25vh;
            }
            &.keep {
                top: 15vh;
            }
            &.finish:hover{
                width:30vw;
                left: 35vw;
            }
        }

        &.settingPage {
            &.keep {
                top: 20vh;
                left: 75vw;
            }
        }

        &.contextPage {
            &.keep {
                top: 20vh;
                left: 5vw;
            }
        }
    }

    .system_context_class,.system_setting_class {

        position: absolute;
        top: 0px;
        height: 100vh;
        border: none;
        width: 0vw;

        /* 记录自己一个失误，这里要有&才会变化成功，因为这里需要同级选择而非后代选择*/
    }

    .system_setting_class {
        transition: width .5s ease;
        left: 0px;
        background-color: $colorHas;

        &.homePage{
            &.enter {
                width: 0vw;
            }
            &.keep {
                width: $halfWidth;
            }
            &.finish {
                &:hover {
                    width: $halfWidth + $pullSome;
                }

                &.pull_left{
                    width: $halfWidth - $pullSome;
                }
            }
        }

        &.infoPage{
            width: $halfWidth;
        }

        &.settingPage {
            &.enter {
                width: $halfWidth;
            }

            &.keep {
                width: $SettingPathWitdhWhenSetting;
            }
        }

        &.contextPage {
            &.enter {
                width: $halfWidth;
            }

            &.keep {
                width: $SettingPathWitdhWhenContext;
                transition: width .5s ease;
            }
        }

    }

    .system_context_class {
        right: 0px;
        background-color: $colorNone;
        transition: width 0.5s ease;
        z-index: -1;

        &.homePage{
            &.ready {
                width: 0vw;
            }
            &.enter{
                width: 0vw;
            }
            &.keep{
                width: $halfWidth;
            }
            &.finish {
                transition: none;
                width: 100vw;
            }
        }

        &.infoPage{
            transition: none;
            width: 100vw;
        }

        &.settingPage{
            &.enter {
                transition: none;
                width: 100vw;
                z-index: -1;
            }
            &.keep{
                transition: none;
                width: 100vw;
                z-index: -1;
            }
        }

        &.contextPage {
            &.enter {
                transition: none;
                width: 100vw;
                z-index: -1;
            }
            &.keep{
                transition: none;
                width: 100vw;
                z-index: -1;
            }
        }


    }
}